                    /* All section tags */

section {
    margin: 0;
    background-color: white;
    position: relative;
    padding: 50px 0 0 0;
}

                    /* Sections that contain large text */

.text h1  {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: rgb(24, 158, 180);
    text-align: center;
    margin: 0;
}
.text p   {
    font-size: .8em;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    text-align: center;
    color: rgb(237, 28, 36);
    margin: 0 auto;
    max-width: 50%;
    padding: 10px 0 10px 0;
    position: relative;
}
.text p::before   {
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    height: 1px;
    width: 50%;
    background-color: rgb(211, 211, 211);
}

                    /* Image Sections */


.image img  {
    display: block;
    height: 25vh;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

                    /* Banner Sections */

section.banner  {
    padding-top: 10px;
}
.banner div {
    height: 50px;
    background-color: rgb(24, 158, 180);
    display: flex;
    justify-content: space-around;
}
.banner button  {
    height: 25px;
    width: 20%;
    margin: auto;
    padding: 0;
    font-size: .7em;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    background-color: white;
    color: rgb(237, 28, 36);
    border: 2px solid rgb(24, 158, 180);
}