                    /* All section tags */

section {
    margin: 0;
    background-color: white;
    position: relative;
    padding: 50px 0 0 0;
}

                    /* Sections that contain large text */

.text h1  {
    color: rgb(135, 206, 235);
    text-align: center;
    margin: 0;
}
.text p   {
    text-align: center;
    color: black;
    margin: 0 auto;
    max-width: 50%;
    padding: 10px 0 10px 0;
    position: relative;
}
.text p::before   {
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    height: 1px;
    width: 50%;
    background-color: rgb(211, 211, 211);
}

                    /* Image Sections */


.image img  {
    display: block;
    height: 25vh;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}